[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "adapta-backgrounds"]
	path = adapta-backgrounds
	url = https://github.com/adapta-project/adapta-backgrounds.git
